
.container{
    display: flex;
    flex-direction: column;
    background-color: #326CA2;
    width: 14.5vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
p{
    margin: 7.5px;
}
.pfp{
    width: 50%;
    border-radius: 50%;
    border: solid 10px;
    border-color: #457db6;
}
.navLink{
    color: #99B6D1;
    transition: color .1s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: larger;
    font-style: normal;
}
.navLink:hover{
    color: #f2ffff;
}